<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro vehiculos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="tablaLibros">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">titulo</th>
                    <th scope="col">referencia</th>
                    <th scope="col">autor</th>
                    <th scope="col">precio</th>
                    <th scope="col">ubicación</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let libro of libros">
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.referencia }}</td>
                    <td>{{ libro.autor }}</td>
                    <td>{{ libro.precio }}</td>
                    <td>{{ libro.ubicacion }}</td>
                </tr>
            </tbody>
        </table>
    </div>


</body>

</html>